{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block file_name %}archives.exa{% endblock %}

{% block content %}
<div class="post">
  <div class="code-line"><span class="line-number">01</span><span class="opcode">SCAN</span> <span class="arg">ARCHIVE_DATABASE</span></div>
  <div class="code-line"><span class="line-number">02</span><span class="opcode">LOAD</span> <span class="arg">ALL_ENTRIES</span></div>
  <div class="code-line"><span class="line-number">03</span><span class="comment">// FOUND {{ dates|length }} ENTRIES</span></div>
</div>

{% for year, year_group in dates|groupby('date.year')|reverse %}
<div class="post">
  <div class="code-line"><span class="line-number">{{ "{:02d}".format(loop.index + 3) }}</span><span class="opcode">YEAR</span> <span class="value">{{ year }}</span></div>
  {% for article in year_group %}
  <div class="code-line"><span class="line-number">{{ "{:02d}".format(loop.index + 10) }}</span><span class="opcode">ENTRY</span> <span class="arg">{{ article.date.strftime('%m-%d') }}</span> <a href="{{ SITEURL }}/{{ article.url }}" class="value">"{{ article.title }}"</a></div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}