{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block file_name %}{{ article.slug }}.exa{% endblock %}

{% block content %}
<div class="post">
  <div class="code-line"><span class="line-number">01</span><span class="opcode">LOAD</span> <span class="arg">{{ article.slug }}</span></div>
  <div class="code-line"><span class="line-number">02</span><span class="opcode">MARK</span> <span class="arg">{{ article.date.strftime('%Y-%m-%d') }}</span></div>
  <div class="code-line"><span class="line-number">03</span><span class="opcode">COPY</span> <span class="arg">title</span> <span class="value">"{{ article.title }}"</span></div>
  {% if article.author %}
  <div class="code-line"><span class="line-number">04</span><span class="opcode">COPY</span> <span class="arg">author</span> <span class="value">"{{ article.author }}"</span></div>
  {% endif %}
  {% if article.category %}
  <div class="code-line"><span class="line-number">05</span><span class="opcode">COPY</span> <span class="arg">category</span> <span class="value">"{{ article.category }}"</span></div>
  {% endif %}
  {% if article.tags %}
  <div class="code-line"><span class="line-number">06</span><span class="opcode">COPY</span> <span class="arg">tags</span> <span class="value">"{% for tag in article.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}"</span></div>
  {% endif %}
  <div class="code-line"><span class="line-number">07</span><span class="opcode">EXEC</span> <span class="arg">DECRYPT_CONTENT</span></div>
  <div class="code-line"><span class="line-number">08</span><span class="comment">// CONTENT_START</span></div>
</div>

<div class="article-content">
  {{ article.content }}
</div>

<div class="post">
  <div class="code-line"><span class="line-number">99</span><span class="comment">// CONTENT_END</span></div>
  <div class="code-line"><span class="line-number">100</span><span class="opcode">EXEC</span> <span class="arg">FINALIZE</span></div>
</div>

{% if article.prev_article or article.next_article %}
<div class="post" style="margin-top: 32px;">
  <div class="code-line"><span class="line-number">101</span><span class="comment">// NAVIGATION</span></div>
  {% if article.prev_article %}
  <div class="code-line"><span class="line-number">102</span><span class="opcode">LINK</span> <span class="arg">prev</span> <a href="{{ SITEURL }}/{{ article.prev_article.url }}" class="value">"{{ article.prev_article.title }}"</a></div>
  {% endif %}
  {% if article.next_article %}
  <div class="code-line"><span class="line-number">103</span><span class="opcode">LINK</span> <span class="arg">next</span> <a href="{{ SITEURL }}/{{ article.next_article.url }}" class="value">"{{ article.next_article.title }}"</a></div>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block extra_head %}
  {% if article.description %}
  <meta name="description" content="{{ article.description }}" />
  {% endif %}
  {% if article.tags %}
  <meta name="keywords" content="{% for tag in article.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}" />
  {% endif %}
{% endblock %}