{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block file_name %}{{ page.slug }}.exa{% endblock %}

{% block content %}
<div class="post">
  <div class="code-line"><span class="line-number">01</span><span class="opcode">LOAD</span> <span class="arg">{{ page.slug }}</span></div>
  <div class="code-line"><span class="line-number">02</span><span class="opcode">COPY</span> <span class="arg">title</span> <span class="value">"{{ page.title }}"</span></div>
  {% if page.author %}
  <div class="code-line"><span class="line-number">03</span><span class="opcode">COPY</span> <span class="arg">author</span> <span class="value">"{{ page.author }}"</span></div>
  {% endif %}
  <div class="code-line"><span class="line-number">04</span><span class="opcode">EXEC</span> <span class="arg">DECRYPT_CONTENT</span></div>
  <div class="code-line"><span class="line-number">05</span><span class="comment">// CONTENT_START</span></div>
</div>

<div class="article-content">
  {{ page.content }}
</div>

<div class="post">
  <div class="code-line"><span class="line-number">99</span><span class="comment">// CONTENT_END</span></div>
  <div class="code-line"><span class="line-number">100</span><span class="opcode">EXEC</span> <span class="arg">FINALIZE</span></div>
</div>
{% endblock %}

{% block extra_head %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
{% endblock %}